// COLORES

$dark-purple: #2c003a;
$light: var(--theme-color);
$shadow: 0 2px 8px #88888875;
$border: hsl(0, 0%, 18.82%);

.switch {
  cursor: pointer;
  width: 54px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: none;
  border-radius: 50%;
  box-shadow: -1px 2px 8px #333;
  background-color: $dark-purple;
  color: $light;
  transition: background-color .2s ease;
  transition: transform .2s ease;
  i {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }
  .fa-sun {
    transition: opacity .2s ease;
    opacity: 0;
  }
}
.switch:hover {
  transform: scale(1.04);
}
.switch:active {
  transform: scale(.96);
}
.mode-active {
  .fa-moon {
    transition: opacity .2s ease;
    opacity: 0;
  }
  .fa-sun {
    opacity: 1;
  }
}

body {
  transition: all .8s ease;
  &.dark {
    background-color: #14001a;
    .header {
      background-color: $dark-purple;
      box-shadow: inset 0 -1px 0 0 $border;
      .nav_container {
        .logo {
          background-color: $light;
          color: $dark-purple ;
        }
        button {
          color: $light;
        }
        .nav_menu {
          background-color: $dark-purple;
        }
        .nav_menu > .nav_menu_item > .nav_menu_link {
          color: $light;
        }
        .nav_menu > .nav_menu_item > .nav_menu_link:hover {
          color: $dark-purple;
          background-color: $light;
        }
        .about_me_container {
          button {
            color: $light;
          }
          button:hover {
            color: $dark-purple;
            background-color: $light;
          }
          li > ul {
            background-color: $dark-purple;
          }
        }
      }
    }
    .profile_container {
      section {
        .profile_card {
          h1 {
            color: $light;
          }
          p {
            color: $light;
          }
          div {
            background-color: $dark-purple;
          }
          button {
            background-color: $light;
            color: $dark-purple;
            box-shadow: inset 0 0 0 1px $border;
          }
        }
        .profile_img_container {
          .profile_img {
            filter: drop-shadow($shadow);
          }
          .profile_img_line {
            background-color: $dark-purple;
            box-shadow: inset 0 0 0 1px $border;
          }
        } 
      }
    }
    .about_container {
      background-color: $dark-purple;
      box-shadow: inset 0 1px 0 0 $border;
    }
    .skills_container > section > h1{
      color: $light;
    }
    .experience_container {
      background-color: $dark-purple;
      box-shadow: inset 0 1px 0 0 $border;
    }
    .portfolio_container {
      section > h2 {
        color: $light;
      }
      div div {
        background-color: $light;
      }
    }
    .contact_container {
      background-color: $dark-purple;
      box-shadow: inset 0 1px 0 0 $border;
    }
    .switch {
      color: $dark-purple;
      background-color: $light;
    }
    .footer_container {
      background-color: $dark-purple;
      box-shadow: inset 0 1px 0 0 $border;
    }
  }
}