.about_container {
  grid-area: about;
  background-color: var(--primary-color);
}

.about_title {
  color: var(--text-color-inverse);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-shadow: 0 2px 5px var(--shadow-color);
}

.about_p {
  text-align: center;
  max-width: 1080px;
  color: var(--text-color-inverse);
  font-weight: bold;
}