.contact_container {
  grid-area: contact;
  background-color: var(--primary-color);
}

.contact_title {
  color: var(--text-color-inverse);
  margin: 0;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 2px 5px var(--shadow-color);
}

.contact_cards_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px;
}

.contact_card {
  background-color: var(--theme-color);
  box-shadow: 0 2px 5px var(--shadow-color);
  margin: 10px;
  padding: 10px;
  border-radius: 60px;
  display: grid;
  grid-template:
  "icon name    ." 20px
  "icon details ." 20px/
  50px  auto    10px;
  align-items: center;
  transition: .2s ease-in-out;
}

.contact_card:hover {
  filter: brightness(.8);
  box-shadow: 0 5px 12px var(--shadow-color); 
}

.contact_icon_container {
  background-color: var(--secundary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: icon;
  height: 40px;
  width: 40px;
  margin: 0;
}

.contact_icon_container > i {
  width: 45px;
  aspect-ratio: 1;
  color: var(--primary-color);
  font-size: 25px;
  padding: 20px;
  aspect-ratio: 1;
}

.contact_name {
  grid-area: name;
  margin: 0;
  text-align: center;
  font-size: 16px;
}

.contact_details {
  grid-area: details;
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}