.contact_container {
  grid-area: contact;
  background-color: var(--primary-color);
  padding: 10px 0;
}

.contact_title {
  color: var(--text-color-inverse);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-shadow: 0 2px 5px var(--shadow-color);
}

.contact_cards_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact_card {
  background-color: var(--theme-color);
  margin: 10px;
  padding: 10px;
  border-radius: 60px;
  display: grid;
  grid-template:
  "icon name    ." 20px
  "icon details ." 20px/
  50px  auto    10px;
  align-items: center;
}

.contact_icon_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: icon;
  height: 40px;
  width: 40px;
  margin: 0;
}

.contact_icon {
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secundary-color);
  border-radius: 50%;
  font-size: 25px;
  font-style: normal;
  padding: 10px;
}

.contact_name {
  grid-area: name;
  margin: 0;
  text-align: center;
  font-size: 16px;
}

.contact_details {
  grid-area: details;
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}