/*Contenedor de la Barra*/

.nav_container {
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  top: 0;
}

/*Logo*/

.logo {
  background-color: var(--primary-color);
  border-radius: 8px;
  color: var(--text-color-inverse);
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 20px;
  height: 50px;
  width: 160px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
}
.logo_ico {
  font-size: 40px;
}
.logo:hover {
  transform: translateY(-50%) scale(1.04);
}
.logo:active {
  transform: translateY(-50%) scale(.96);
}

/*Menú*/

.nav_menu {
  position: absolute;
  height: 100%;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_menu_link {
  padding: 10px 15px;
  border-radius: 4px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 80px;
  box-sizing: border-box;
  transition: all 300ms ease;
}
.nav_menu_link:hover {
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
  transition: all 300ms ease-out;
}
.open_menu,
.close_menu {
  display: none;
}
.about_me_container {
  display: none;
}
.one_side_shadow {
  display: none;
}

/*Para Tablets*/

@media (max-width: 1022px) {
  .nav_menu_item {
    display: none;
  }
  .nav_menu{
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  .home_button {
    display: block;
  }
  .about_me_container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    align-items: center;
  }
  .open_about_me {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
  }
  .open_about_me:hover {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
    transition: 300ms ease-out;
  }
  .about_me_menu {
    position: absolute;
    font-size: 24px;
    list-style: none;
    flex-direction: column;
    position: fixed;
    right: -700px;
    top: 70px;
    padding: 15px 0;
    margin-bottom: 10px;
    width: 60vw;
    height: 100vh;
    align-items: center;
    background-color: var(--menu-mobile-background-color);
    overflow-y: auto;
    transition: 0.3s ease-in-out;
  }
  
  .about_me_menu-visible {
    right: -10px;
  }
  .about_me_item {
    padding: 10px 0;
    text-align: center;
  }
  .about_me_menu_link {
    color: var(--text-color-inverse);
    line-height: 60px;
    border-radius: 4px;
    padding: 2px 20px;
    transition: 0.3s ease-in-out;
  }
  .about_me_menu_link:hover {
    background-color: var(--theme-color);
    color: var(--text-color);
  }
}

/*Para móbiles*/

@media (max-width: 600px) {
  .about_me_container {
    display: none;
  }
  .nav_menu_item {
    display: flex;
  }
  .logo {
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    padding: 0 10px;
    gap: 10px;
  }
  .logo_ico {
    font-size: 24px;
  }

  /*Menu  Desplegable*/

  .nav_menu {
    flex-direction: column;
    position: fixed;
    left: -700px;
    top: 50%;
    padding-top: 8px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    margin: 0;
    background-color: var(--menu-mobile-background-color);
    overflow-y: auto;
    transition: 0.3s ease-in-out;
  }
  .nav_menu-opened {
    left: 50vw;
  }
  .open_menu,
  .close_menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 42px;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    cursor: pointer;
  }
  .close_menu {
    color: var(--text-color-inverse);
    top: 35px;
    right: 20px;
  }
  .nav_menu_link {
    color: var(--text-color-inverse);
    line-height: 60px;
  }
}
